/* ===== Import Start ===== */

/* ===== Import End ===== */

/* ===== General Styling Start ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: hsl(236, 13%, 42%);
  background-color: hsl(36, 100%, 99%);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* ===== General Styling End ===== */

/* ===== General Styling Start ===== */
.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
}

.navbar-brand {
  font-size: 1.25rem;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
}

.navbar-item {
  color: hsl(236, 13%, 42%);
  text-decoration: none;
  margin: 1.25rem;
}

.navbar-item:hover {
  opacity: 0.8;
}

.menu-icon img {
  display: none;
}

/* Responsive Navbar */
@media screen and (max-width: 375px) {
  .navbar-menu {
    display: none;
  }

  .menu-icon img {
    display: inline;
  }
}
/* ===== General Styling End ===== */